@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #6366f1;
  --color-dark-bg: #0f172a;
  --font-inter: 'Inter', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}